// body{
//     margin: 0vh 100vh;
// }

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    // overflow-x: hidden; 
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
body{
    font-family: 'Cabin', sans-serif !important;
}
.sectionHead{
    font-family: 'Tinos', serif !important;
}

@import "./header";

.container{
    max-width:1200px !important;
    width:95% !important;
}

@import "./intro";

@import "./gallery";

@import "./photographers";

@import "./contacts";

@import "./sendMessage";

@import "./copyright";



// ABOUT PAGE

@import "./pages/about";

// PHOTOGRAPHER PAGE

@import "./pages/photographer";

// ARTICLES PAGE

@import "./pages/articles";
